{% extends 'base.html' %}  <!-- Extend your base template -->

{% block title %}Movies{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Movies List</h1>
    <!-- Movie List -->
    <div class="row row-cols-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card img-fluid mb-3">
                {% if movie.image_url %}
                <img class="card-img-top" src="{{ movie.image_url }}" alt="{{ movie.title }}">
                {% endif %}
                <div class="card-img-overlay text-center bg-dark">
                        <h4 class="card-title">{{ movie.title }}</h4>
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-outline-primary">Play</a>
                        <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#thrillerModal{{ movie.id }}">Trailer</a>
                </div>
            </div>
        </div>
            <!-- Thriller Modal -->
                <div class="modal fade bg-dark" id="thrillerModal{{ movie.id }}" tabindex="-1" aria-labelledby="thrillerModalLabel{{ movie.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content p-2 bg-transparent">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="thrillerModalLabel{{ movie.id }}">Thriller for {{ movie.title }}</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe id="myIframe{{ movie.id }}" class="embed-responsive-item" width="100%" height="450" src="{{ movie.trailer_url }}"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% empty %}
        <p>No movies available.</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
<div class="clearfix"></div>
{% include 'streaming/paginator.html' %}
</div>

    <script>
        // Function to handle modal close and stop the video
        function setupModalHandler(modalId, iframeId) {
            var modal = document.getElementById(modalId);
            var iframe = document.getElementById(iframeId);
            var iframeSrc = iframe.src;

            // Event handler for when the modal is about to be hidden
            modal.addEventListener('hide.bs.modal', function () {
                iframe.src = ""; // Remove the src attribute of the iframe
            });

            // Optional: Reset the iframe src when reopening the modal
            modal.addEventListener('show.bs.modal', function () {
                iframe.src = iframeSrc;
            });
        }

        // Loop through all movies and setup handlers
        {% for movie in movies %}
            setupModalHandler("thrillerModal{{ movie.id }}", "myIframe{{ movie.id }}");
        {% endfor %}
    </script>
{% endblock %}
